<!-- Form used to add new entries of employee in database -->
<form id="insForm" class="row hidden" name="empList"  ng-submit="insertInfo(info);">
    <h3 class="center-align">Insert new user into database</h3>

    <!-- name -->
    <div class="input-field col m8 offset-m2">
        <input type="text" name="name" class="validate" ng-model="info.name" autofocus required />
        <label for="Name">Name</label>
    </div>
    <div class="input-field col m8 offset-m2">
        <p class="text-danger" ng-show="empList.name.$invalid && empList.name.$dirty">Name field is empty!</p>
    </div>

    <!-- email -->
    <div class="input-field col m8 offset-m2">
        <input type="email" name="email" class="validate" ng-model="info.email" autofocus required />
        <label for="Email">Email Address</label>
    </div>
    <div class="input-field col m8 offset-m2">
        <p class="text-danger" ng-show="empList.email.$invalid && empList.email.$dirty">Invalid Email!</p>
    </div>

    <!-- gender -->
    <div class="col m8 offset-m2">
        <label for="Gender">Gender</label>
        <input name="gender" type="radio" id="test1" class="with-gap" value="male" ng-model="info.gender"/>
        <label for="test1">Male</label>
        <input name="gender" type="radio" id="test2" class="with-gap" value="female" ng-model="info.gender"/>
        <label for="test2">Female</label>
    </div>

    <!-- adress -->
    <div class="input-field col m8 offset-m2">
        <input type="text" name="address" class="validate" ng-model="info.address" autofocus required />
        <label for="Address">Address</label>
    </div>

    <!-- submit -->
    <div class="input-field col m8 offset-m2">
        <p class="text-danger" ng-show="empList.address.$invalid && empList.address.$dirty">Address field is Empty!</p>
    </div>
    <div class="input-field col m8 offset-m2">
        <button class="btn btn-warning" ng-disabled="empList.$invalid">Add Into Database</button>
    </div>
</form>
